@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* .admin-button {
  color: white;
  width: 200px;
} */

.admin-button MultiButtonBase-root {
  padding: 200px
}