@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.clock-container div {
  color: white;  
}

.training-title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: inline-flex;
  justify-content: space-around;
  margin-left: 20px;
}