
.upcoming-block {
  margin-left: 200px
}

.training-entry {
  color: rgb(255, 255, 255);
  font-size: 25px;
  /* padding-left: 100px; */
}

.training-entry-prompt {
  padding-left: 100px;
  color: white;
  font-size: 25px;
}

.training-entry entrybox {
  color: white;
  font-size: 25px;
}



.lineitem {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 5px;
  padding: 2px;  
}

.lineitem-admin {  
  /* border: 1px dashed black; */
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  padding: 10px;    
  
}


.lineitem-admin div div input {
  height: 30px;
}

.lineitem-admin MultiFormGrou-root {
  margin-top: 20px
}

.ops-logo {
  filter: invert(1);
  width: 400px;

}

.item-box {
  border: 3px ridge rgb(255, 255, 255);
  width: 350px;
  justify-content: left;
  border-radius: 6px;
  background-color: rgb(40, 40, 40);
  
}

.item-box-larger {
  border: 10px ridge rgb(255, 255, 255);
  padding: 20px;
  background-color: rgb(62, 62, 62);
  justify-content: left;
  border-radius: 5px;
  margin-left: 50px;
}

.date-picker-text {
  padding-right: 10px;
}

.radio-label {
  padding-right: 10px;
}

.submit-button {
  margin-left: 20px;
  background-color: purple;
  height: 30px;
  width: 100px;
  color: white;
  font-weight: bold;
  border-radius: 10px

}

.input-textfield {
  height: 30px;
  margin-left: 20px
}